apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: front
  name: front
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      containers:
      - image: nginx:1.20
        imagePullPolicy: IfNotPresent
        name: front
        env:
          - name: HOST_BACK
            value: back:8080
